.cocktail-name {
    border: 3px solid var(--medium);
    border-radius: 10px;
    background-color: var(--olive);
    color: var(--light);
    margin: 3px;
    padding: 3px;
}

.cocktail-image {
    background-image: url(../images/old-fashioned.webp);
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 2%;
}

#image-container,
#ingredients-container,
#instructions-container {
    min-height: 230px;
    display: flex;
    width: 25%;
    min-width: 230px;
    max-width: 300px;
    margin: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#image-container {
    min-width: 250px;
}

.cocktail-search-error {
    text-align: center;
    margin: 100px 10%;
    line-height: 2;
}

#cocktail-search-history {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {

    #image-container,
    #ingredients-container,
    #instructions-container {
        margin: 30px;
    }
}

@media screen and (max-width: 950px) {

    #instructions-container {
        width: 100%;
        max-width: 520px;
    }
}

@media screen and (max-width: 640px) {

    #image-container {
        min-width: 300px;
    }

    #image-container,
    #ingredients-container,
    #instructions-container {
        margin: 0;
        padding: 20px;
    }

}

@media screen and (max-width: 500px) {
    
    #image-container,
    #ingredients-container,
    #instructions-container {
        min-height: 0;
        min-width: 100%;
        width: 100%;
        padding: 20px 0;
    }

    .cocktail-image {
        width: 80vw;
        min-width: 80vw;
        max-width: 80vw;
        height: 80vw;
        min-height: 80vw;
        max-height: 80vw;
    }
}