:root {
    --olive: #465e5a;
    --purple: #59496d;
    
    --light: #cbbdb2;
    --medium: #8c7968;
    --dark: #202537;

    --lime: #6ba734;
    --teal: #0c9cad;
    --negroni: #ad0005;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive; /* from Google Fonts */
}

h1 {
    padding: 0 auto;
    margin: 0 auto;   
}

a {
    text-decoration: none;
    color: var(--light);
}

body {
    color: var(--light);
    line-height: 1.5;
    position: relative;
}

button {
    margin: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

/* HEADER STYLES START */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: var(--medium);
    position: absolute;
    top: 0;
    bottom: auto;
    z-index: 98;
}

.main-title {
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    margin: 10px 30px;
    color: var(--dark);
}

nav {
    width: 50%;
}

.menu-button {
    background-color: var(--olive);
    color: var(--light);
}

.menu-button:hover {
    background-color: var(--light);
    color: var(--olive);
}
/* HEADER STYLES END */

/* MAIN PAGE STYLES START */
main {
    margin: 0 auto;
    padding: 120px 20px 100px 20px;
    min-height: 100vh;
    background-color: var(--dark);
    overflow: hidden;
    position: relative;
}

footer {
    height: 80px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pure-g {
    letter-spacing: normal;
}
/* MAIN PAGE STYLES END */

/* MODAL STYLES START */
.modal {
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    overflow: hidden;
    border: 3px solid var(--light);
    border-radius: 10px;
    padding: 15% auto;
    background-color: var(--purple);
    float: right;
}

.modal-title {
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
    background-color: var(--olive);
    color: var(--light);
}

.secondary-title {
    margin-top: 30px;
    border-radius: 0;
}

.modal-text {
    height: 100%;
    padding: 15px;
}

.modal-btns {
    position: absolute;
    right: 0;
    bottom: 0;
}

.modal-button {
    margin: 0 15px 15px 15px;
    background-color: var(--teal);
    color: var(--dark);
}
/* MODAL STYLES END */


/* MEDIA QUERIES START */
@media screen and (max-width: 680px) {

    header {
        align-items: center;
        justify-content: center;
    }

    .main-title {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 32px;
        width: 100%;
    }

    nav {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-button {
        margin: 0;
    }

    #main-content-container {
        width: 80vw;
    }
}
