:root {
    --oldFashioned: #7a211b;
    --daiquiri: #d0ab4a;
    --pinaColada: #fffee0;
    --lounge: #28282f;
    --decor: #a6806b;
    --lime: #3b640e;
    --negroni: #ad0005;
}

* {
    margin: 0;
}

body {
    color: var(--pinaColada);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: var(--decor);
}

.title {
    color: var(--lounge);
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-button {
    background-color: var(--decor);
    color: var(--lounge);
}

main {
    background-color: var(--lounge);
}

/* MODAL STYLES START */
.modal {
    background-color: var(--oldFashioned);
}

.modal-title {
    padding: 10px 20px;
    color: var(--daiquiri)
}

.modal-text {
    padding: 20px;
}

.modal-button {
    background: var(--lime);
    color: var(--pinaColada);
}
/* MODAL STYLES END */

/* UTILITY STYLES START */
.hide {
    display: none;
}

.confirm {
    background-color: var(--lime);
    color: var(--pinaColada);
}

.cancel {
    background-color: var(--negroni);
    color: var(--pinaColada);
}
/* UTILITY STYLES END */
