:root {
    --olive: #465e5a;
    --purple: #59496d;
    
    --light: #cbbdb2;
    --medium: #8c7968;
    --dark: #202537;

    --teal: #0c9cad;
    --negroni: #ad0005;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--light);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

/* HEADER STYLES START */
header {
    width: 100%;
    background-color: var(--medium);
}

.pure-menu-heading {
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: var(--dark);
}

header ul {
    margin-right: 50px;
    width: 50%;
    text-align: right;
}

.pure-menu-link {
    margin-left: 20px;
    background-color: var(--olive);
    color: var(--light);
}

.pure-menu-link:hover {
    background-color: var(--light);
    color: var(--olive);
}
/* HEADER STYLES END */

/* MAIN PAGE STYLES START */
main {
    margin: 0 auto;
    height: 100vh;
    background-color: var(--dark);
}

.pure-g {
    letter-spacing: normal;
}

#image-container,
#ingredients-container,
#instructions-container {
    margin: 3% auto;
    position: relative;
}

img {
    background-image: url(./images/old-fashioned.webp);
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 2%;
}
/* MAIN PAGE STYLES END */

/* MODAL STYLES START */
.modal {
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    overflow: hidden;
    border: 3px solid var(--light);
    border-radius: 10px;
    padding: 15% auto;
    background-color: var(--purple);
    float: right;
}

.modal-title {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
    background-color: var(--olive);
    color: var(--light);
}

.modal-text {
    height: 100%;
    padding: 20px;
}

.modal-btns {
    position: absolute;
    right: 0;
    bottom: 0;
}

.modal-button {
    margin: 0 15px 15px 15px;
    color: var(--light);
}
/* MODAL STYLES END */

/* UTILITY STYLES START */
.hide {
    display: none;
}

.confirm {
    background-color: var(--teal);
    color: var(--light);
}

.cancel {
    background-color: var(--negroni);
    color: var(--White);
}
/* UTILITY STYLES END */

/* MEDIA QUERIES START */
@media screen and (max-width: 1000px) {

    .pure-menu-horizontal .pure-menu-list {
        justify-content: flex-end;
    }

    .pure-g {
        justify-content: center;
    }

    #image-container,
    #ingredients-container,
    #instructions-container {
        margin: 30px;
    }
}

@media screen and (max-width: 680px) {

    header {
        text-align: center;
    }

    .title {
        text-align: center;
        width: 100%;
    }

    .pure-menu-horizontal .pure-menu-list {
        width: 100%;
        justify-content: center;
        display: block;
    }

    header ul {
        text-align: center;
    }

    .pure-menu-link {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    #image-container,
    #ingredients-container,
    #instructions-container {
        margin: 30px 20% 30px 20%;
    }
}